.text-animate {
  display: inline-block;
  opacity: 0;
  min-width: 10px;
  cursor: default;
}

.text-animate-hover {
  min-width: 10px;
  display: inline-block;
  animation-fill-mode: forwards;

  &:hover {
    animation: rubberBand 1s;
    color: #ffd700;
  }
}

@for $i from 11 through 46 {
  .text-animate._#{$i} {
    animation: bounceIn 1.4s forwards;
    animation-delay: calc(0.1s * #{$i});
  }
}