.home-page {

  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: white;
    font-size: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
    letter-spacing: 4px;

    img {
      width: 32px;
      margin-left: 10px;
      margin-right: 4px;
      opacity: 0;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 2s;
    }
  }
}

h2 {
  color: #8d8d8d;
  font-size: 18px;
  margin: 20px 0px;
  font-family: 'Coolvetica';
  font-weight: 400;
  letter-spacing: 4px;
  animation: fadeIn 1s backwards;
  animation-delay: 5s;
}

.flat-button {
  color: #ffd700;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: 'Coolvetica';
  text-decoration: none;
  padding: 14px 24px;
  border: 1px solid #ffd700;
  background: none;
  margin-top: 25px;
  float: left;
  animation: fadeIn 1s backwards;
  animation-delay: 5.6s;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease-out;

  &:hover {
    background: #ffd700;
    color: #333;
    transition: all 0.3s ease-out;
  }
}